<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>role</th>
        <th>profession</th>
        <th></th>
        </tr>
        <% for (var i=0;i<data.length;i++){%>
            <tr>
                <td><%=data[i].id%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].role%></td>
                <td><%=data[i].profession></td>
    </tr>
    <%} %>
    
</table>